:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}


ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
section{
  margin: 0;
  padding: 0;
}
 h1, h2, h3, h4,p,small{
  margin: 0;
  padding: 0;
 }

a{
  text-decoration: none;
}

.header, a:visited{
  color: white;
}
.nav a:hover{
  color: #d87d4a;

}
.header, .footer{
width: 100%;
background: rgb(17, 17, 17);
color: white;
}

.header{
  border-bottom: 0.3px solid rgba(255, 255, 255, 0.1);
}


.content-box{
  width: 85%;
  max-width: 1110px;
  margin: 0 auto;
}
.cb-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;

}

/* Nav Css */
#checkbox_toggle, .nav_main{
  display: none;
}

.hamburger{
  font-size: 25px;
}

.hamburger:hover{
  cursor: pointer;
}

.cart-icon{
  width: 23px;
  height: 23px;
}
.cart-icon img{
  width: 100%;
  height: 100%;
}


.nav_main li{
  padding-bottom: 50px;
  border-bottom: 1px solid white;
}




/* footer */

.footer_title{
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #d87d4a;
  text-underline-offset: -49px;
}
/* .cb-footer::before{
  content: '';
  width: 90px;
  height: 5px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #d87d4a;
  position: absolute;
} */

.cb-footer{
  padding: 30px 0;
  font-size: 13px;
  text-align: center;
  position: relative;
}

.footer_nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav_footer{
  font-size: 11px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer_info{
  font-size: 11px;
  /* max-width: 250px; */
  margin: 30px auto 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
  color: lightgray;
}

.footer-icons{
  display: flex;
  margin: 0 auto;
  gap: 10px;
}


.footer-icons svg:hover{
 color: #d87d4a;
  cursor: pointer;
}

.footer-icons img:hover{
  filter:brightness(0) saturate(100%) invert(70%) sepia(22%) saturate(4825%) hue-rotate(329deg) brightness(92%) contrast(82%) ;
  cursor: pointer;
}


/* main */
/* placeholder */
.main{
  height: 150vh;
  position: relative;
}

.main-content{
  height: 500px;
  /* content line tbr */
  /* border: 1px solid white;  */
}

.main-banner{
  background: rgb(17, 17, 17);
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-banner img{
 
  max-height: 600px;
  max-width: 600px;
  filter: opacity(0.6) drop-shadow(0 0 0 black) ;
  /* filter:  invert(0%) sepia(86%) saturate(1302%) hue-rotate(120deg) brightness(116%) contrast(90%); */
}
/* placeholder ends */

.app{

}


@keyframes fade{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width:1079px){
  
#checkbox_toggle:checked ~ .nav_main{
  display: flex;
  flex-direction: column;
  position: absolute;
  background: rgb(17, 17, 17);
  width: 100%;
  /* height: calc(100% - 95px); */
  top: 65px;
  left: 0;
  border-top: .5px solid white;
  animation: fade 0.5s;
  gap: 50px;
  padding-top: 50px;
  text-align: center;
  z-index: 1;
}
}
@media screen and (min-width:760px) {
  /* nav and header */
  .cb-header{
    justify-content: unset;
    gap: 50px;
  }
  
  .cart-icon{
    margin-left: auto;
  }

  /* footer */
  .cb-footer{
    text-align: left;
  }

  .footer_nav{
    justify-content: unset;
    align-items: unset;
  }
  .nav_footer{
    flex-direction: row;
  }

  .footer_info{
    gap: 60px;
    position: relative;
  }

  .footer-icons{
    position: absolute;
    bottom: 0;
    right: 0;
  }

}

@media screen and (min-width:1080px) {
  /* nav and header */
  .header{
    border-bottom: none;
  }
  .cb-header{
    justify-content: space-between;
    border-bottom: 0.2px solid rgb(223, 219, 219);
  }

  .hamburger{
    display: none;
  }

  .nav_main{
    display: flex;
    position: unset;
    gap: 20px;
  }

  .nav_main li{
    padding-bottom: 0;
    border-bottom: none;
    font-size: 13px;
  }

  .cart-icon{
    margin-left: unset;
  }

  .header-title{
    order: -1;
  }

  /* footer */
  .footer_nav{
    flex-direction: row;
    justify-content: space-between;
  }
  .nav_footer{
    gap: 35px;
  }

  .footer_info p{
    max-width: 45%;
  }
  .footer-icons{
    bottom: 110px;
  }
}